.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-brand{
	font-family: 'Caveat';font-size: 30px;
}
h2{
	font-family: 'Caveat';font-size: 28px;
	font-style: bold;
}